.About {
  text-align: center;
  .hero-img {
    margin: 5% 0;
    width: 105%;
  }

  .about-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-title {
      color: #ff9482;
      border-bottom: 8px solid #4753bb;
      width: max-content;
    }

    .about-desc {
      width: 80%;
      text-align: left;
      line-height: 40px;
      font-size: 1.4rem;

      mark {
        background: none;
        color: white;
        font-weight: 600;
      }
    }

    .quotes-title {
      color: #7c62ff;
      font-size: 1.8rem;
    }

    .quotes-desc {
      width: 80%;
      text-align: left;
      line-height: 40px;
      font-size: 1.4rem;

      mark {
        background: none;
        color: white;
        font-weight: 600;
      }
    }
  }

  .skills {
    margin: 6% 0;
    .skills-title {
      color: #ffcc32;
    }

    .skills-flex {
      display: flex;
      justify-content: space-between;

      .skill-column {
        text-align: left;
        font-size: 0.8rem;
        .skill-category {
          color: #ff9482;
          font-weight: 500;
        }

        .skill {
          font-weight: 400;
        }
      }
    }
  }

  .personal-interests {
    .pi-title {
      color: #539dff;
    }

    .pi-caption {
      font-weight: 400;
      font-size: 1.2rem;
    }

    .collage {
      width: 100%;
    }

    .books-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "book1 book2 book3" "book4 book5 book6" ". . .";
      justify-content: center;
      grid-gap: 4rem;
    }

    .book1 {
      grid-area: book1;
    }

    .book2 {
      grid-area: book2;
    }

    .book3 {
      grid-area: book3;
    }

    .book4 {
      grid-area: book4;
    }

    .book5 {
      grid-area: book5;
    }

    .book6 {
      grid-area: book6;
    }
  }

  .instagram-block {
    width: 100%;
  }
}
