.CloutCharts {
  margin-top: 20px;

  .hero-banner {
    width: 145%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-left: -22%;
  }

  .body {
    .project-details {
      margin-top: 4%;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 25% 25% 25%;
      grid-template-rows: 1fr 1fr 1fr 0;
      grid-template-areas: "overview role timeline ." "overview responsibilities team ." ". . . .";
    }

    .overview {
      grid-area: overview;
      width: 80%;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .role {
      grid-area: role;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .timeline {
      grid-area: timeline;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .responsibilities {
      grid-area: responsibilities;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .team {
      grid-area: team;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .text--content {
      margin-top: 0;
      width: 75%;

      p {
        color: #d8d8d8;
        line-height: 30px;
      }

      .reg-img {
        width: 100%;
      }

      .large-img {
        width: 135%;
        margin: 4% 0;
      }

      h4 {
        font-weight: 400;
      }

      .white-mark {
        background: none;
        color: white;
        font-weight: 900;
      }

      .quote-mark {
        background: none;
        color: #ff9482;
        font-weight: 600;
      }

      .red-mark {
        background: none;
        color: #e24c4d;
        font-weight: 900;
      }
    }

    .three-column-flex {
      margin-top: 8%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 30%;
        text-align: center;

        p {
          text-align: left;
          color: #d8d8d8;
        }
      }
    }

    .display-flex {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .big-text {
        color: #444c50;
        font-size: 4rem;
        margin: 0;
      }

      div {
        width: 50%;
      }

      .small-p {
        width: 35%;
      }

      p {
        color: #d8d8d8;
      }
    }

    .inverted {
      flex-direction: row-reverse;
    }

    .margin--top {
      margin-top: 10%;
    }

    .white-content {
      background: white;
      color: #072be0;
      width: 99%;
      margin-left: -21.5%;
      padding: 10% 22%;

      p {
        width: 70%;
      }

      .listener-flex {
        display: flex;
        margin-top: 5%;

        .listener-text {
          margin-left: 5%;
          h2 {
            font-weight: 500;
            margin-top: 0;
          }

          p {
            width: 100%;
            color: #00171f;
          }
        }
      }
    }
  }
}
