.Home {
  .hero-section {
    margin-top: 5%;
    position: relative;

    h1 {
      width: 100%;
      margin: 0 auto;
      margin-top: 10%;
      font-weight: 900;
      font-size: 9vh;
      letter-spacing: 2px;
      text-align: center;
      text-transform: capitalize;
      position: relative;
      z-index: 999;
    }
  }

  img {
    width: 20vh;
  }

  .hero-triangle {
    position: absolute;
    top: 14%;
    margin-left: 5%;
  }

  .hero-chameleon {
    position: absolute;
    top: 14%;
    right: 0;
    margin-right: 14%;
  }

  .hero-wave {
    position: absolute;
    right: 20%;
    top: 60%;
  }

  .hero-bang {
    position: absolute;
    left: 20%;
    top: 56%;
  }
}

.scroll-down-container {
  text-align: center;
  cursor: pointer;
  .scroll-down {
    margin-top: 10%;
    font-weight: 500;
  }

  .chevron {
    width: 2%;
    margin: 0 auto;
  }
}

.grid-container {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0fr 0fr 0fr;
  grid-row-gap: 10px;
  grid-template-areas: "cloutcharts q4tb . ." "revitalize q4tb . ." "se se . .";
}

.cloutcharts {
  grid-area: cloutcharts;
  position: relative;
  img {
    width: 100%;
  }

  .project-info {
    position: absolute;
    z-index: 999;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #00171f;
    text-align: center;
    margin-top: 5%;

    .project-title {
      font-weight: 500;
      margin: 0;
    }

    .project-desc {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.q4tb {
  grid-area: q4tb;
  margin-left: 15px;
  position: relative;
  img {
    width: 100%;
  }
  .project-info {
    position: absolute;
    z-index: 999;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #00171f;
    text-align: center;
    margin-top: 15%;

    .project-title {
      font-weight: 500;
      margin: 0;
    }

    .project-desc {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.revitalize {
  grid-area: revitalize;
  position: relative;
  img {
    width: 100%;
  }

  .project-info {
    position: absolute;
    z-index: 999;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #00171f;
    text-align: center;
    margin-top: 5%;

    .project-title {
      font-weight: 500;
      margin: 0;
    }

    .project-desc {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.se {
  grid-area: se;
  position: relative;
  img {
    width: 100%;
  }

  .project-info {
    position: absolute;
    z-index: 999;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #00171f;
    text-align: center;
    margin-top: 5%;

    .project-title {
      font-weight: 500;
      margin: 0;
    }

    .project-desc {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}
