.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;

  .logo {
    cursor: pointer;
  }

  .navlinks-container {
    display: flex;
    justify-content: space-between;
    width: 25%;

    .navlink {
      text-decoration: none;
      color: white;
    }
  }
}
